.content__add_edit {
    background-color: var(--box-color);
    padding: 1rem 1.5rem;
    position: fixed;
    width: 55%;
    top: 7rem;
    margin-left: 5rem;
    display: none;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: .5rem;
}

.content__close_btn {
    align-self: flex-end;
}

.fa-xmark {
    font-size: 2rem;
    cursor: pointer;
}

.content__add_edit_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    margin: -1.5rem 0 0 2rem;
}

.content__add_edit_form {
    width: 65%;
    margin-inline: auto;
}

.error-message {
    color: #9f0101;
    font-size: .8rem;
    margin-block: .5rem -1rem;
    font-style: italic;
    display: none;
}

.content__add_edit_form label,
.content__add_edit_form textarea {
    width: 100%;
    padding: .5rem;
    border: 1px solid var(--gray-700);
    border-radius: 3px;
    background-color: var(--gray-200);
}

.content__add_edit_form label,
.content__add_edit_form textarea,
.content__add_edit_form button {
    display: block;
    margin-top: 1rem;
    margin-inline: auto 3rem;

}

.content__add_edit_form label {
    display: flex;
    justify-content: space-between;
}

.content__add_edit_form label span {
    flex-basis: 40%;
}

.content__add_edit_form input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    color: var(--font-black);
}

.content__add_edit_form ::placeholder {
    color: var(--font-black);
}

.content__add_edit_form textarea {
    height: 12rem;
    text-align: left;
    outline: none;
    color: var(--font-black);
}

.content__add_edit_form button {
    padding: .4rem .5rem;
    background-color: var(--sbr-bg-color);
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .content__add_edit_form {
        width: 75%;
        margin-inline: auto;
    }
}
@media only screen and (max-width: 992px) {
    .content__add_edit_form {
        width: 80%;
        margin-inline: auto;
    }
}

@media only screen and (max-width: 768px) {
    .content__add_edit {
        padding: 1.5rem ;
        position: fixed;
        width: 70%;
        top: 9.5rem;
        margin-left: 1rem;
        row-gap: 1.5rem;
    }

    .fa-xmark {
        font-size: 1.9rem;
    }

    .content__add_edit_title {
        font-weight: 600;
        font-size: 1.35rem;
        margin: 0;
    }

    .content__add_edit_form {
        width: 85%;
    }


    .content__add_edit_form label,
    .content__add_edit_form textarea {
        padding: .4rem;
        border-radius: 2px;
        font-size: .95rem;
    }

    .error-message {
        margin-block: .6rem -1.3rem;
    }

    .content__add_edit_form label,
    .content__add_edit_form textarea,
    .content__add_edit_form button {
        margin-top: 1.5rem;
    }

    .content__add_edit_form input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
        color: var(--font-black);
    }

    .content__add_edit_form ::placeholder {
        color: var(--font-black);
    }

    .content__add_edit_form textarea {
        height: 9rem;
        text-align: left;
        outline: none;
        color: var(--font-black);
    }

    .content__add_edit_form button {
        padding: .5rem .7rem;
        margin-inline: auto 0;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 576px) {

    .content__add_edit {
        padding: 1rem;
        width: 85%;
        top: 11rem;
        flex-direction: column;
        margin-inline: 1.2rem .5rem;
        row-gap: 1rem;
        border-radius: .5rem;
    }

    .fa-xmark {
        font-size: 1.7rem;
    }

    .content__add_edit_title {
        font-weight: 600;
        font-size: 1.1rem;
        margin: 0;
    }

    .content__add_edit_form {
        width: 80%;
    }


    .content__add_edit_form label,
    .content__add_edit_form textarea {
        padding: .3rem;
        border-radius: 2px;
        font-size: .9rem;
    }

    .error-message {
        margin-block: .6rem -1.3rem;
    }

    .content__add_edit_form label,
    .content__add_edit_form textarea,
    .content__add_edit_form button {
        margin-top: 1.5rem;
    }

    .content__add_edit_form input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
        color: var(--font-black);
    }

    .content__add_edit_form ::placeholder {
        color: var(--font-black);
    }

    .content__add_edit_form textarea {
        height: 9rem;
        text-align: left;
        outline: none;
        color: var(--font-black);
    }

    .content__add_edit_form button {
        padding: .3rem .5rem;
        margin-inline: auto 0;
        font-size: .8rem;
    }
}