.blog--view-container {
    background-color: #000000c1;
    position: fixed;
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
    padding: 2rem 3rem;
    top: 0;
    z-index: 1010;
    display: none;
}
.blog__view {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem 2rem 2rem 2rem;
    margin-inline: auto;
    width: 45%;
    border-radius: .5rem;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    color: var(--font-black);
}
.blog__view::-webkit-scrollbar {
    display: none;
}

.blog__view_close {
    background-color: var(--bg-color);
    position: sticky;
    top: -1rem;
    margin-top: -1rem;
    margin-left: -2rem;
    left: -2rem;
    padding: .8rem 1rem;
    text-align: right;
    width: calc(100% + 4rem);
}

.blog__view_close i {
    font-size: 1.9rem;
}

.blog__view_close i:hover {
    color: #a80707;
    cursor: pointer;
}


.blog__view_content {
    display: flex;
    flex-direction: column;
}

/* .blog__view_thumbnail_author {
    float: left;
} */

.blog__view_thumbnail {
    margin-right: 1rem;
}

.blog__view_thumbnail figure {
    background-color: #a80707;
    width: 100%;
    height: 17rem;
    overflow: hidden;
    border-radius: 5px;
}

.blog__view_thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.blog__view_author {
    border-left: .1rem solid;
    padding-left: .5rem;
    margin-block: .4rem .1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .1rem;
}

.blog__view_author>p {
    font-weight: 600;
    font-size: .8rem;
}

.blog__view_author_container {
    display: flex;
    column-gap: .3rem;
    align-items: flex-end;
    letter-spacing: normal;
}

.blog__view_author figure {
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    border-radius: 50%;
}

.blog__view_author img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__view_author_name {
    font-size: .7rem;
    font-weight: 550;
    line-height: .5rem;
}

.blog__view_author_title {
    font-size: .62rem;
    font-style: italic;
    letter-spacing: normal;
}

.blog__view_title {
    color: var(--blog-title-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-block: 0 .6rem;
    position: sticky;
    top: -.5rem;
}

.blog__view_date {
    position: sticky;
    top: 1rem;
    font-size: .7rem;
    letter-spacing: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-block: .75rem;
}
.blog__view_date .material-symbols-outlined {
    font-size: .9rem;
}

.blog__view_description {
    margin-block: 1rem .5rem;
    text-align: justify;
    letter-spacing: 0;
    line-height: 1.3rem;
    font-weight: 450;
    font-size: .9rem;
}


.blog__view_content hr {
    border: 1px solid #494949;
    margin-block: 0 .4rem;
}

.blog__view_cta_btn {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    margin-top: .4rem;
}


.blog__view_cta_btn .material-symbols-outlined {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.blog__view_cta_btn .material-symbols-outlined:hover,
.blogs__cta_btn .material-symbols-outlined:hover {
    font-weight: 700;
}

.google--icon-like {
    vertical-align: top;
}
.google--icon-like:hover {
    font-weight: 600;
}

.blog--like .fa-solid {
    color: rgb(148, 0, 0);
}
.blog--like .fa-solid:hover {
    color: rgb(83, 1, 1);
}

.google--icon-share {
    margin-left: .2rem;
}


.blog__view_cta_btn .blog__view_count {
    font-size: .7rem;
    margin-left: -.2rem;
    font-weight: 600;
    letter-spacing: normal;
}

.blog__view_comment_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem .6rem;
    width: 95%;
    font-size: 1.1rem;
    font-weight: 650;
}

.blog__view_comment_title svg {
    width: 1.7rem;
    height: 1.7rem;
}

.blog__comments {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}

.blog__comment {
    background-color: var(--stn-bg-color);
    padding: .3rem .9rem;
    width: 75%;
    border-radius: 4px;
}

.blog__comment_username {
    font-weight: 550;
    font-size: .9rem;
}

.blog__comment_description {
    line-height: 1rem;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: -.03rem;
    text-align: justify;
    margin: 0 1rem .3rem .7rem;
}


/* .blog__comment_next {
    width: 5rem;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    align-self: end;
    margin-right: 1rem;
    margin-block: -.5rem 1.5rem;
    padding: .2rem .5rem;
    cursor: pointer;
} */

.blog__comment_new {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-block: 1rem .5rem;
    border: 1px solid rgb(50, 50, 50);
    padding: .5rem;
    align-items: end;
    font-size: .8rem;
}

.blog__comment_new textarea {
    height: 3.5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--font-black);
    outline: none;
}

.blog__comment_new textarea::-webkit-scrollbar {
    display: none;
}

::placeholder {
    color: var(--font-black);
}

.blog__comment_new button {
    cursor: pointer;
    padding: .2rem .5rem;
    background-color: var(--btn-blue);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    width: 11%;
}

.blog__comment_new button:hover {
    background-color: #025c83;
}

@media only screen and (max-width: 1200px) {
    .blog__view {
        width: 70%;
    }
}

@media only screen and (max-width: 992px) {
    .blog__view {
        width: 85%;
        border-radius: .5rem;
    }
}

@media only screen and (max-width: 769px) {
    .blog__view {
        padding: .8rem 1.8rem;
        width: 90%;
        border-radius: .3rem;
    }

    .blog__view_close {
        margin-right: -.7rem;
    }

    .blog__view_thumbnail_author {
        float: none;
        margin-block: 0rem 1.3rem;
    }

    .blog__view_thumbnail img {
        width: 18rem;
        height: 12rem;
    }

    .blog__view_author {
        margin-block: .4rem .1rem;
        letter-spacing: 0;
    }

    .blog__view_author>p {
        font-size: .9rem;
    }

    .blog__view_author figure {
        width: 1.5rem;
        height: 1.5rem;
    }

    .blog__view_author_name {
        font-size: .65rem;
        line-height: .3rem;
    }

    .blog__view_author_title {
        font-size: .55rem;
    }

    .blog__view_title {
        font-size: 1.1rem;
        margin-block: 1.7rem .4rem;
    }

    .blog__view_description {
        line-height: 1.3rem;
        font-size: .85rem;
    }

    .blog__view_cta_btn {
        column-gap: .5rem;
    }

    .blog__view_cta_btn svg:nth-child(1) {
        width: 1.6rem;
        height: 1.3rem;
    }

    .blog__view_cta_btn svg:nth-child(2) {
        width: 1.6rem;
        height: 1.6rem;
    }

    .blog__view_cta_btn svg:nth-child(3) {
        width: 1.6rem;
        height: 1rem;
    }


    .blog__view_comment_title {
        margin-block: .8rem .6rem;
        font-size: 1rem;
    }

    .blog__view_comment_title svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    .blog__comments {
        padding-left: .5rem;
    }
/*
    .blog__comment {
        background-color: rgb(218, 218, 218);
        padding: .3rem .9rem;
        width: 90%;
        margin-inline: auto;
        border-radius: 4px;
    }

    .blog__comment_username {
        font-weight: 550;
        font-size: .9rem;
    }

    .blog__comment_description {
        line-height: 1rem;
        font-size: .8rem;
        font-weight: 400;
        letter-spacing: -.03rem;
        text-align: justify;
        margin: 0 1rem .3rem .5em;
    }

    .blog__comment_btn {
        display: flex;
        column-gap: .71rem;
        align-items: center;
    }

    .blog__comment_btn span {
        font-size: .75rem;
    }

    .blog__comment_btn svg {
        width: 1rem;
        height: 1rem;
    }

    .blog__comment_btn div {
        display: flex;
        column-gap: .3rem;
        align-items: center;
        font-weight: 600;
    }

    .blog__comment_next {
        width: 5rem;
        text-align: center;
        border-radius: 5px;
        font-weight: 700;
        align-self: end;
        margin-right: 1rem;
        margin-block: -.5rem 1.5rem;
        padding: .2rem .5rem;
        cursor: pointer;
    }
*/
    .blog__comment_new {
        width: 80%;
        padding: .3rem;
        font-size: .65rem;
    }
    .blog__comment_new textarea {
        height: 2rem;
    }

    .blog__comment_new button {
        background-color: var(--btn-blue);
        border-radius: 1px;
        width: 13%;
    }
}

@media only screen and (max-width: 600px) {
    .blog--view-container {
        padding: 3rem 1.5rem;
    }

    .blog__view {
        padding: .8rem 1rem;
        width: 95%;
        border-radius: .2rem;
    }

    .blog__view_close {
        margin-right: 0;
    }

    .blog__view_thumbnail_author {
        float: none;
        margin-block: -.5rem 1.3rem;
    }

    .blog__view_author>p {
        font-size: .8rem;
    }

    .blog__view_author figure {
        width: 1.2rem;
        height: 1.2rem;
    }

    .blog__view_author_name {
        font-size: .6rem;
    }

    .blog__view_author_title {
        font-size: .5rem;
    }

    .blog__view_title {
        font-size: .95rem;
        margin-block: 1.7rem .4rem;
    }

    .blog__view_description {
        line-height: 1.1rem;
        font-size: .75rem;
    }

    .blog__view_cta_btn {
        column-gap: .5rem;
    }

    .blog__view_cta_btn svg:nth-child(1) {
        width: 1.5rem;
        height: 1.2rem;
    }

    .blog__view_cta_btn svg:nth-child(2) {
        width: 1.5rem;
        height: 1.5rem;
    }

    .blog__view_cta_btn svg:nth-child(3) {
        width: 1.5rem;
        height: 1rem;
    }


    .blog__view_comment_title {
        margin-block: .8rem .6rem;
        font-size: .9rem;
    }

    .blog__view_comment_title svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    /*.blog__comments {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            row-gap: .3rem;
        }
    
        .blog__comment {
            background-color: rgb(218, 218, 218);
            padding: .3rem .9rem;
            width: 90%;
            margin-inline: auto;
            border-radius: 4px;
        }
    
        .blog__comment_username {
            font-weight: 550;
            font-size: .9rem;
        }
    
        .blog__comment_description {
            line-height: 1rem;
            font-size: .8rem;
            font-weight: 400;
            letter-spacing: -.03rem;
            text-align: justify;
            margin: 0 1rem .3rem .5em;
        }
    
        .blog__comment_btn {
            display: flex;
            column-gap: .71rem;
            align-items: center;
        }
    
        .blog__comment_btn span {
            font-size: .75rem;
        }
    
        .blog__comment_btn svg {
            width: 1rem;
            height: 1rem;
        }
    
        .blog__comment_btn div {
            display: flex;
            column-gap: .3rem;
            align-items: center;
            font-weight: 600;
        }
    
        .blog__comment_next {
            width: 5rem;
            text-align: center;
            border-radius: 5px;
            font-weight: 700;
            align-self: end;
            margin-right: 1rem;
            margin-block: -.5rem 1.5rem;
            padding: .2rem .5rem;
            cursor: pointer;
        }
    
        .blog__comment_new {
            display: flex;
            flex-direction: column;
            width: 89%;
            margin-inline: auto;
            border: 1px solid rgb(34, 34, 34);
            padding: .5rem;
            align-items: end;
            font-size: .8rem;
        }
    
        .blog__comment_new textarea {
            height: 3.5rem;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
        }
    
        ::placeholder {
            color: black;
        }
    
        .blog__comment_new button {
            padding: .2rem .5rem;
            background-color: var(--btn-blue);
            border: none;
            border-radius: 3px;
            color: white;
            font-weight: 500;
            width: 11%;
        }
    } */
}

@media only screen and (max-width: 400px) {
    .blog--view-container {
        padding: 3rem 1.5rem;
    }

    .blog__view {
        padding: 1rem;
        width: 100%;
    }

    .blog__view_close i {
        font-size: 1.5rem;
    }

    .blog__view_thumbnail_author {
        float: none;
        margin-block: 0 1.3rem;
    }

    .blog__view_thumbnail img {
        width: 16rem;
        height: 10.5rem;
    }

}