@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

/* || VARIABLES */
:root {
    --btn-primary-color: #024764;
    --btn-secondary-color: #990000;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60rem;
    margin-inline: auto;
    margin-top: 7rem;
    z-index: 100;
    /* animation-name: fade-in;
    animation-duration: .5s; */
    background-color: var(--stn-bg-color);
}

/* @keyframes fade-in {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
    
} */

.login__message,
.login__form {
    flex-basis: 45%;
}

.login__title {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.login__title2 {
    font-weight: 600;
}

.login__message {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem 3rem;
    row-gap: 0.6rem;
    background-image: url(/assets/images/ellipse.svg);
    color:  var(--font-black);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-block: 4rem;
}

.login__message p:nth-child(1) {
    font-size: 1.7rem;

}

.login__message p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: 700;
}

/* .login__message p:nth-child(3) {
} */
.login__message p:nth-child(4) {
    margin-top: 2rem;
    font-weight: 600;
}

.login__form {
    flex-basis: 55%;
    background-color: var(--font-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 2rem;
    color: var(--font-black);
}

.login__form_fields * {
    display: block;
    margin-block: 1rem;
}
.login__form label {
    position: relative;
}
#login__error_icon {
    position: absolute;
    top: -1.6rem;
    right: .5rem;
    font-size: .9rem;
    display: none;
}
.login__error {
    padding-left: .5rem;
    padding-bottom: .5rem;
    text-align: left;
}

.login__form_fields input {
    width: 20rem;
    height: 1.5rem;
    outline: none;
    border: none;
    border-bottom: 1.5px solid var(--font-black);
    background-color: transparent;
    padding-left: 0.5rem;
    font-size: .9rem;
    color: var(--font-black);
}

.login__form_fields ::placeholder {
    color: var(--form-gray-800);
}

.login__action {
    width: 20rem;
    text-align: left;
    font-size: 0.9rem;
}

.login__form_with {
    margin-top: 2rem;
}

/* BUTTONS */
.login__btn {
    display: block;
    width: 20rem;
    height: 2rem;
    margin-block: .7rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.login__btn--signin {
    margin-top: 2rem;
    background-color: #024764;
}

.login__btn--google {
    background-color: #990000;
}

.login__btn--apple {
    background-color: black;
}

/* Mobile style */

@media only screen and (max-width: 992px) {
    .login {
        width: 43rem;
    }
}

@media only screen and (max-width: 768px) {
    .login {
        width: 100%;
        background-color: transparent;
    }

    .login__message {
        display: none;
    }

    .login__form {
        flex-basis: 80%;
        height: 100%;
        padding-block: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    .login {
        width: 100%;
        background-color: transparent;
    }

    .login__title {
        margin-block: 1rem;
        font-size: 1.5rem;
    }

    .login__form {
        flex-basis: 80%;
        height: 100%;
        padding-block: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .login {
        width: 100%;
    }


    .login__title {
        margin-block: 1rem;
        font-size: 1.3rem;
    }

    .login__form {
        flex-basis: 90%;
        height: 100%;
        padding-block: 2rem;
    }

    .login__form_fields * {
        margin-top: .5rem;
    }

    .login__form_fields input {
        width: 16rem;
    }

    .login__form p {
        width: 16rem;
    }

    .login__btn {
        width: 16rem;
        height: 1.8rem;
    }
}