@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --bg-color: hsl(198, 10%, 80%);
    --btn-blue: #024764;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    letter-spacing: -1.2px;
}

/* Header Styles */
.header {
    background-color: #bbbbbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.5rem;
    padding-inline: 7rem;
}

.header-logo {
    display: flex;
    align-items: end;
}

.header-logo img {
    width: 2.3rem;
    height: 1.9rem;
}

.header-logo span {
    margin-left: -2px;
    font-weight: 750;
    letter-spacing: -1px;
}

.header-dark_light-mode a {
    text-decoration: none;
    color: black;
}
.header-dark_light-mode i {
    font-size: 1.25rem;
}

.header-navigation a {
    text-decoration: none;
    color: #313030;
    font-weight: 500;
    margin-left: 1rem;
    font-weight: 600;
}

.header-login_btn a {
    color: white;
    text-decoration: none;
    background-color: var(--btn-blue);
    padding: 0.45rem .95rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}
.header-login_btn img {
    width: 1.5rem;
    height: 1rem;
}

/*  section-home */

.section-home {
    display: flex;
    align-items: center;
    width: 48rem;
    margin-block: 3rem 0;
    margin-inline: auto;
}
.section-home .home-left {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.home-left h2 {
    text-transform: uppercase;
    font-size: 2.1rem;
    line-height: 2.3rem;
}
.home-left .name-blue {
    color: var(--btn-blue);
}
.home-left .first-name {
    letter-spacing: 0.6px;
}
.home-left .sub-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -1.5rem;
}
.home-left .description {
    font-size: 1.15rem;
    letter-spacing: -0.66px;
    width: 90%;
    text-align: justify;
    margin-top: -2rem;
}
.home-left .cta-btn {
    display: flex;
    column-gap: 2rem;
}
.home-left .cta-btn a {
    text-decoration: none;
    padding: 0.4rem 1rem;
    border: 2px solid var(--btn-blue);
    font-weight: 600;
    border-radius: 2px;
}
.cta-btn .btn-download__cv {
    color: white;
    background-color: var(--btn-blue);
    text-transform: uppercase;
}
.cta-btn .btn-send__message {
    color: var(--btn-blue);
}
.cta-btn .btn-send__message:hover {
    color: white;
    background-color: var(--btn-blue);
    transition: .7s;
}

.section-home .home-right img {
    width: 20rem;
    margin-top: 2rem;
    /* margin-left: -10rem; */
}

/* About Me section */