@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --bg-color: #CDCBCB;
    --btn-blue: #024764;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Style */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    letter-spacing: -1.2px;
}

/* || ELEMENTS */
.portfolio__title, 
.section-title,
.blogs__title,
.contact__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* Header Styles */
.header {
    background-color: #bbbbbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.5rem;
    padding-inline: 7rem;
}

.header-logo {
    display: flex;
    align-items: end;
}

.header-logo img {
    width: 2.3rem;
    height: 1.9rem;
}

.header-logo span {
    margin-left: -2px;
    font-weight: 750;
    letter-spacing: -1px;
}

.header-dark_light-mode a {
    text-decoration: none;
    color: black;
}

.header-dark_light-mode i {
    font-size: 1.25rem;
}

.header-navigation a {
    text-decoration: none;
    color: #313030;
    font-weight: 500;
    margin-left: 1rem;
    font-weight: 600;
}

.header-login_btn a {
    color: white;
    text-decoration: none;
    background-color: var(--btn-blue);
    padding: 0.45rem .95rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
}

.header-login_btn img {
    width: 1.5rem;
    height: 1rem;
}

/*  section-home */

.section-home {
    display: flex;
    align-items: center;
    width: 48rem;
    margin-block: 3rem 0;
    margin-inline: auto;
}

.section-home .home-left {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.home-left h2 {
    text-transform: uppercase;
    font-size: 2.1rem;
    line-height: 2.3rem;
}

.home-left .name-blue {
    color: var(--btn-blue);
}

.home-left .first-name {
    letter-spacing: 0.6px;
}

.home-left .sub-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: -1.5rem;
}

.home-left .description {
    font-size: 1.15rem;
    letter-spacing: -0.66px;
    width: 90%;
    text-align: justify;
    margin-top: -2rem;
}

.home-left .cta-btn {
    display: flex;
    column-gap: 2rem;
}

.home-left .cta-btn a {
    text-decoration: none;
    padding: 0.4rem 1rem;
    border: 2px solid var(--btn-blue);
    font-weight: 600;
    border-radius: 2px;
}

.cta-btn .btn-download__cv {
    color: white;
    background-color: var(--btn-blue);
    text-transform: uppercase;
}

.cta-btn .btn-send__message {
    color: var(--btn-blue);
}

.cta-btn .btn-send__message:hover {
    color: white;
    background-color: var(--btn-blue);
    transition: .7s;
}

.home-right {
    position: relative;
}

.home-right .my-photo img {
    width: 22rem;
    margin-top: 2.2rem;
    /* margin-left: -10rem; */
}

.home-right .social-media {
    display: flex;
    display: flex;
    column-gap: 1.6rem;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: -0.5rem;
    right: 4.2rem;
    background-color: #DBDBDB;
    padding: .8rem 2.3rem;
    height: 6rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.social-media img {
    width: 1.6rem;
}

/* About Me section */

.section-about__me {
    background-color: #DBDBDB;
    width: 60rem;
    margin-inline: auto;
    margin-top: -2.4rem;
    border-radius: 0.8rem;
    padding-block: 3rem;
}

.section-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.section-about__me .section-title {
    margin-bottom: 4rem;
}

.about-me__content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.5rem;
}

.about-me__info {
    width: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.about-me__info div {
    background-color: #1f1f1f;
    height: 7.2rem;
    width: 11rem;
    color: white;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me__info h2 {
    font-size: 1rem;
    font-weight: 600;
}

.about-me__info h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.about-me__info h4 {
    font-size: 0.85rem;
    font-weight: 400;
    font-style: italic;
}

.about-me__description {
    background-color: #AEB7BB;
    padding: 2rem 3rem;
    width: 55%;
}

.about-me__description p {
    font-size: 1.15rem;
    text-align: justify;
}

/* section-skills */
.section-title {
    margin-bottom: 1rem;
}
.section-skills {
    margin-top: 5rem;
    width: 45rem;
    margin-inline: auto;
    padding-block: 2rem 4rem;
}

.section-skills .section-description {
    width: 35rem;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.1rem;
}

.skills-content {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    margin-block: 4rem 2rem;
}
.skills-content .tech {
    flex-basis: 27%;
    padding: 1rem 0;
    border-radius: 3px;
    background-color: black;
}
.tech figure {
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    flex-wrap: nowrap;
}
.tech img {
    width: 3.3rem;
}
.tech .stars {
    margin-bottom: 0.2rem;
}
.tech .stars img {
    width: 1.1rem;
}
.tech p, .tech h3 {
    margin-left: 0.7rem;
}
.tech h3 {
    font-weight: 500;
}
.tech p {
    font-weight: 300;
}

/* Portfolio */

.portfolio {
    margin-top: 4rem;
    background-color: #DBDBDB;
    width: 60rem;
    margin-inline: auto;
    border-radius: 0.8rem;
    text-align: center;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.portfolio__content {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}
.portfolio__thumbnail {
    margin-bottom: -5px;
}
.portfolio__thumbnail img {
    width: 15rem;
}
.portfolio__tn_description {
    background-color: #a6a6a6;
    text-align: left;
    padding-block: 0.6rem;
    box-shadow: 0px 1px 1.5px black;
}
.portfolio__project_name, 
.portfolio__project_demo {
    margin-left: 1rem;
}
.portfolio__project_name {
    font-weight: 600;
    margin-bottom: -5px;
}
.portfolio__project_demo {
    font-size: 0.95rem;
    color: #03517C;
}
.portfolio__btn a,
.blogs__btn a {
    text-decoration: none;
    color: white;
    background-color: var(--btn-blue);
    padding: 0.4rem 1rem;
    font-weight: 600;
    border-radius: 2px;
}

/* BLOG */

.blogs {
    text-align: center;
    width: 50rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    margin-top: 6rem;
}
.blogs__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: left;
}
.blogs__blog {
    flex-basis: 35%;;
    background-color: hsl(180, 1%, 85%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
}
.blogs__thumbnail img{
    width: 16.5rem;
    height: 10.5rem;
}
.blog__tn_title {
    font-weight: 700;
    font-size: 1.08rem;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
}
.blog__tn_description {
    font-size: 0.9rem;
    text-align: justify;
    margin: 0.2rem 1rem 0.5rem 1.5rem;
    line-height: -50px;
}
.blogs__line {
    background-color: black;
    width: 16rem;
    height: 1px;
    border: none;
    margin-bottom: 0.2rem;
}
.blogs__cta_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
}
.blogs__like_img {
    width: 1.6rem;
}
.blogs__comment_img {
    width: 1.9rem;
}
.blogs__share_img {
    width: 1.3rem;
}


/* .section-contact__me */

.contact {
    margin-top: 6rem;
    background-color: #DBDBDB;
    width: 60rem;
    margin-inline: auto;
    text-align: center;
    padding-block: 4rem;
}
.contact__content {
    display: flex;
    justify-content: center;
    column-gap: 3.5rem;
    margin-top: 4rem;
}
.contact__content img {
    width: 2.5rem;
}
.contact__content p {
    line-height: 1.1rem;
    font-weight: 500;
}
.contact__content a {
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-style: italic;
    font-size: 0.95rem;
}
.contact__email img {
    padding-bottom: 1.45rem;
}
.contact__web img {
    padding-bottom: 0.78rem;
}
.contact__Tel img {
    width: 2.3rem;
    padding-bottom: 0.9rem;
}


/* || FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-block: 5rem 1rem;
}
.footer__content {
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.footer__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}
.footer ul {
    list-style: none;
    margin-left: 1rem;
}
.footer__links li {
    margin-block: -5px;
}
.footer__form * {
    display: block;
    margin-block: 10px;
    outline: none;
    font-family: inherit;
}
.footer__form input,
.footer__form textarea {
    padding-left: 0.8rem;
    border: 1px solid;
    border-radius: 3px;
}
.footer__form input {
    height: 1.9rem;
    width: 16rem;
}
.footer__form textarea {
    height: 8rem;
    width: 16rem;
    padding-top: 0.5rem;
}