.content__message {
    width: 100%;
}
.content__data_form {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.content__data_btn {
    font-size: 0.95rem;
}
.content__data_dbtn {
    background: none;
    border: none;
}
.content__data_dbtn svg {
    width: 1.1rem;
}
.content__message .content__data_table td {
    font-size: 1rem;
}

