@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

/* || VARIABLES */
:root {
    --btn-primary-color: #024764;
    --btn-secondary-color: #990000;
}

.signup {
    width: 100%;
    height: 100vh;
    margin-inline: auto;
    padding: 7rem 13rem 5rem 13rem;
    position: sticky;
    top: 0rem;
    z-index: 2000;
    /* animation-name: fade-in; */
    /* animation-duration: .5s;  */
    background-color: rgba(30, 29, 29, 0.83);
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

/* Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolores consequatur nihil corporis. Corporis,
sed? Dignissimos velit dolor nihil placeat praesentium et tenetur beatae vel. Iste voluptatum sapiente fugit vero? */

.signup__title2 {
    font-weight: 600;
}

.signup__message {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 2rem 3rem;
    row-gap: 1.8rem;
    background-image: url(/assets/images/ellipse.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-block: 3rem;

}

.signup__message p:nth-child(1) {
    font-size: 1.7rem;
    margin-bottom: -1rem;

}

.signup__message p:nth-child(2) {
    font-size: 1.9rem;
    font-weight: 750;
    line-height: 2rem;
}

.signup__title {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.signup__error_message {
    color: #990000;
    font-style: italic;
    font-size: .75rem !important;
    letter-spacing: 0;
}

.signup__form {
    flex-basis: 55%;
    height: 100%;
    background-color: var(--font-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 2rem;
    color: var(--font-black);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.signup__form_fields fieldset {
    padding: .1rem;
    border: 1.5px solid #7b7b7b;
    border-radius: 3px;
    background-color: rgba(226, 226, 226, 0.275);
    position: relative;
}

#signup__error {
    position: absolute;
    top: -.1rem;
    right: .5rem;
    font-size: .9rem;
    display: none;
}

.signup__form_fields legend {
    text-align: left;
    margin-left: .5rem;
    font-weight: 600;
    font-size: .9rem;
}


.signup__form_fields input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: .75rem;
    padding-left: 2rem;
    color: var(--font-black);
}

.signup__form_fields ::placeholder {
    color: var(--form-gray-800);
}

.signup__form p {
    width: 20rem;
    text-align: left;
    font-size: 0.9rem;
    margin-top: -0.6rem;
}

.signup__form_with {
    margin-top: 1rem;
}

/* BUTTONS */
.signup__btn {
    display: block;
    width: 20rem;
    height: 2rem;
    margin-block: .7rem;
    font-weight: 600;
    font-size: .9rem;
    color: white;
    border: none;
    border-radius: 2px;
}

.signup__btn--signin {
    margin-top: 1rem;
    background-color: #024764;
}

.signup__btn--google {
    background-color: #990000;
}

.signup__btn--apple {
    background-color: black;
}


/* ---------------- */
@media only screen and (max-width: 1200px) {
    .signup {
        padding: 7rem 7rem;
    }
}

@media only screen and (max-width: 992px) {
    .signup {
        padding: 7rem 2rem;
    }

    .signup__message p:nth-child(1) {
        font-size: 1.3rem;
        margin-bottom: -1rem;

    }

    .signup__message p:nth-child(2) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .signup__message p:nth-child(3) {
        font-size: .9rem;
    }

    .signup__title {
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .signup {
        width: 100%;
    }

    .signup__title {
        font-size: 1.3rem;
    }

    .signup__title2 {
        font-size: 1rem;
    }

    .signup__message {
        display: none;
    }

    .signup__form {
        flex-basis: 100%;
        height: 100%;
        padding-block: 2rem;
        border-radius: .7rem;
    }
        .signup__form_fields legend {
            font-size: .85rem;
        }
                .signup__form_fields input {
                    font-size: .7rem;
                }
}

@media only screen and (max-width: 576px) {
    .signup {
        width: 100%;
    }

    .signup__title {
        margin-block: 1rem;
        font-size: 1.5rem;
    }

    .signup__form {
        height: 100%;
        padding-block: 2rem;
    }
}

/* Mobile style */

@media only screen and (max-width: 480px) {
    .signup__message {
        display: none;
    }

    .signup__title {
        margin-block: 1rem 0;
        font-size: 1.3rem;
    }


    .fullname,
    .email,
    .password {
        margin-top: .5rem;
    }

    .signup__form_fields input {
        width: 16rem;
    }

    label {
        width: 90%;
    }

    .dob,
    .photo {
        width: 16rem;
        margin-block: 1rem;
    }

    .dob input,
    .photo input {
        width: 60%;
        padding-left: 0;
        font-size: .75rem;
    }

    .signup__form p {
        width: 16rem;
    }

    .signup__btn {
        width: 16rem;
        height: 1.8rem;
    }
}