.user__info {
    display: none;
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    z-index: 1010;
}

.user__info_container {
    position: relative;
    background-color: white;
    width: 30rem;
    margin-block: auto;
    margin-inline: auto;
    padding: 2rem;
    border-radius: 5px;
}

.user__info_close_btn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.8rem;
}

.user__info_close_btn i {
    cursor: pointer;
}

.user__info_close_btn i:hover {
    color: red;
}

.user__info_container h1 {
    text-transform: uppercase;
    font-weight: 650;
    margin-block: 2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.fa-pen-to-square {
    font-size: 1.3rem;
    vertical-align: middle;
    cursor: pointer;
}

.fa-pen-to-square:hover {
    color: red;
}

.user__info_form {
    width: 60%;
    margin-inline: auto;
}

.user--photo {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 11rem;
    height: 9rem;
}

.user__info_form label {
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;
}

.user__info_form label span {
    font-weight: 600;
}

.user__info_form input {
    width: 11rem;
    padding: 0 .2rem;
    font: inherit;
    font-size: .9rem;
    outline: none;
    border: none;
}

.user--profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user__info_form button {
    cursor: pointer;
    margin-block: 1.5rem 1rem;
    padding: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    background-color: var(--btn-blue);
    color: white;
    width: 100%;
    margin-inline: auto;
}

@media only screen and (max-width: 768px) {
    .user__info_container {
        width: 25rem;
    }

    .user__info_form {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .user__info_container {
        width: 20rem;
        margin-top: 5rem;
        padding: 1rem;
    }

    .user__info_close_btn {
        top: .7rem;
        right: 1.3rem;
        font-size: 1.5rem;
    }

    .user__info_container h1 {
        font-size: 1.1rem;
        column-gap: .5rem;
    }

    .fa-pen-to-square {
        font-size: 1rem;
    }

    .user--photo {
        width: 9.5rem;
        height: 7.5rem;
    }

    .user__info_form label span {
        font-size: .9rem;
    }

    .user__info_form input {
        width: 9.5rem;
        font-size: .8rem;
    }

    .user__info_form {
        width: 85%;
    }

    .user__info_form button {
        padding: .3rem;
        font-size: .85rem;
    }
}